<div class="section" id="gallery-sec" >
	<md-grid-list
		md-cols="3"
		md-row-height="1:1"
		md-gutter="4px" class="gal" 
		infinite-scroll="moreImage()" infinite-scroll-distance="0" infinite-scroll-disabled="galleryBusy" 
		>

		<md-grid-tile md-rowspan="1" md-rowspan="1" md-colspan="1" ng-repeat="gal in galleryList" >
			<div ng-click="showImage($index)" class="img-wrapper"  >
				<img ng-src="{{gal.path + (gal.h > 150 ? '?dim=x150' : '') }}" ng-class="{full:gal.h > 150}" />
			</div>
		</md-grid-tile>
	</md-grid-list>
	<div flex layout-align="center center" layout="row" ng-show="galleryBusy"  >
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>
</div> 
