<div class="header" main-header  ng-class="headerClass" layout="row" layout-align="center center"  >
	
	<div flex>
		<logo ui-sref="/" ></logo>
	</div>
	<div flex layout="row" layout-align="end center" > 
		<md-button class="md-icon-button" ng-click="openMenu()" >
			<md-icon >menu</md-icon>
		</md-button>
	</div>
</div>
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" >
	<div layout="row" layout-align="end center" >
		<md-button class="md-icon-button" ng-click="openMenu()" >
			<md-icon>close</md-icon>
		</md-button>
	</div>
	<md-content >
		<md-list>
			<md-list-item ui-sref="noticeList" >공지사항</md-list-item>
			<md-list-item ui-sref="program" >강습 프로그램</md-list-item>
			<md-list-item ui-sref="staff" >강사소개</md-list-item>
			<md-list-item ui-sref="gallery" >갤러리</md-list-item>
			<md-list-item ui-sref="location" >오시는 길</md-list-item>
		</md-list>
	</md-content>
	<md-button class="md-fab" id="phone-fab" ng-click="call()" >
		<md-icon>phone</md-icon>
	</md-button>
</md-sidenav>
