<div class="section" id="prog-sec" >
	<div layout='row' layout-align='center space-between' class='tab'>
		<a class='md-title' ng-class='{"active" : tab === 1}' ng-click='showTab(1)' >판교</a>
		<a class='md-title' ng-class='{"active" : tab === 2}' ng-click='showTab(2)' >잠실</a>
	</div>
	<div>
		<div class="p-table" layout="column" layout-align="center stretch" flex>
			<div flex class="md-headline" layout="row" layout-align="center center" ><span>교육 프로그램</span></div>
			<div layout="row" layout-align="space-between center" class="line title"  >
				<div ng-repeat="p in prgItems.lecture.title" style="white-space:pre-wrap;" flex={{prgItems.lecture.flex[$index]}} >{{p}}</div>
			</div>
			<div layout="row" layout-align="space-between center" class="line" ng-class="{'n' : $index %2 == 1, 'np' : $index %2 ==0}" ng-repeat="prg in prgItems.lecture.list" >
				<div layout="row" style="white-space:pre-wrap;" flex={{prgItems.lecture.flex[0]}} layout-align="center center"  ><span>{{prg.title}}</span></div>
				<div layout="row" layout-align="center center" style="white-space:pre-wrap;"  flex={{prgItems.lecture.flex[1]}} ><span>{{prg.day}}</span></div>
				<div layout="row" layout-align="center center" style="white-space:pre-wrap;"  flex={{prgItems.lecture.flex[2]}} ><span>{{prg.time}}</span></div>
				<div layout="row" layout-align="center center" style="white-space:pre-wrap;"  flex={{prgItems.lecture.flex[3]}} ><span>{{prg.period}}</span></div>
				<div layout="row" layout-align="center center" style="white-space:pre-wrap;"  flex={{prgItems.lecture.flex[4]}} ><span>{{prg.price}}</span></div>
			</div>
		</div>
		<p class="md-caption l" style="white-space:pre-wrap;" >{{prgItems.comment.lecture.comment}}</p>


		<div class="member p-table" layout="column" layout-align="center stretch" flex style="margin-top:30px;" >
			<div flex class="md-headline" layout="row" layout-align="center center" ><span>회원권</span></div>
			<div layout="row" layout-align="space-between center" class="line title" >
				<div flex ng-repeat="m in prgItems.member.title" style="white-space:pre-wrap;" >{{m}}</div>
			</div>
			<div layout="row" layout-align="space-between center" class="line" ng-class="{'n' : $index %2 == 1, 'np' : $index %2 ==0}" ng-repeat="m in prgItems.member.list" >
				<div flex layout="row" layout-align="center center" style="white-space:pre-wrap;" ><span>{{m.title}}</span></div>
				<div  flex layout="row" layout-align="center center" style="white-space:pre-wrap;" ><span>{{m.adult}}</span></div>
				<div  flex layout="row" layout-align="center center" style="white-space:pre-wrap;" ><span>{{m.student}}</span></div>
			</div>
		</div>

		<p class="md-caption l" style="white-space:pre-wrap;" >{{prgItems.comment.member.comment}} </p>


		<div ng-show ="prgItems.special.list.length > 0"  style="margin-top:30px;" >
			<div class="member p-table" layout="column" layout-align="center stretch" flex>
				<div flex class="md-headline" layout="row" layout-align="center center" ><span>특별가</span></div>
				<div layout="row" layout-align="space-between center" class="line title" >
					<div ng-repeat="s in prgItems.special.title" style="white-space:pre-wrap;" flex >{{s}}</div>
				</div>
				<div layout="row" layout-align="space-between center" class="line" ng-class="{'n' : $index %2 == 1, 'np' : $index %2 ==0}" ng-repeat="s in prgItems.special.list" >
					<div flex layout="row" layout-align="center center" style="white-space:pre-wrap;" ><span>{{s.title}}</span></div>
					<div flex layout="row" layout-align="center center" style="white-space:pre-wrap;" >{{s.option}}</div>
					<div flex layout="row" layout-align="center center" style="white-space:pre-wrap;" >{{s.price}}</div>
				</div>
			</div>


			<p class="md-caption l" style="white-space:pre-wrap;" >{{prgItems.comment.special.comment}} </p>
		</div>
		기타 문의 사항은 판교 :  031 - 739 - 8332 잠실 : 02-423-5015  으로 연락주세요.<br/>
	</div>
</div>
