<div class="section" id="staff-sec" >
	<div flex layout-align="center center" layout="row" >
		<div class="md-headline" >강사 소개</div>
	</div>
	<br/>
	<br/>

	<div flex >
		<md-card ng-repeat="staff in staffList" flex layout="column" layout-align="center stretch" class="md-whiteframe-5dp" style="min-height:250px;margin-bottom:40px;" >
			<md-card-title layout="column" class="profile-header"  >
				<md-card-title-media layout="column" layout-align="center center" >
					<div class="md-media-md" >
						<img ng-src="{{staff.photo_path}}" width="100%" height="100%"  style="border-radius:50%;background-color:#d9d9d9;" />
					</div>
					<md-card-title-text layout="column" layout-align="center center" style="margin-top:20px;" >
						<span class="md-headline txt-name" >{{staff.name}}</span>
						<span class="md-subhead txt-meta" >{{staff.position}}</span>
						<span class="md-subhead txt-meta"  >{{staff.birth }}</span>
					</md-card-title-text>
				</md-card-title-media>
			</md-card-title>
			<div >
				<md-card-content flex >
					<p style="white-space:pre-wrap;text-align:left;font-size:80%;" > {{staff.profile}} </p>
				</md-card-content>
			</div>
		</md-card>
	<!--
		<md-card ng-repeat="staff in staffList" flex layout="row" class="md-whiteframe-5dp" style="min-height:250px;margin-bottom:40px;" >
			<md-card-title flex="30" layout="column" class="profile-left"  >
				<md-card-title-media layout="column" layout-align="center center" >
					<div class="md-media-md" >
						<img ng-src="{{staff.photo_path}}" width="100%" height="100%"  style="border-radius:50%;background-color:#d9d9d9;" />
					</div>
					<md-card-title-text layout="column" layout-align="center center" >
						<span class="md-headline txt-name" >{{staff.name}}</span>
						<span class="md-subhead txt-meta" >{{staff.position}}</span>
						<span class="md-subhead txt-meta"  >{{staff.birth }}</span>
					</md-card-title-text>
				</md-card-title-media>
			</md-card-title>
			<div flex >
				<md-card-content flex >
					<p style="white-space:pre-wrap;text-align:left;font-size:80%;" > {{staff.profile}} </p>
				</md-card-content>
			</div>
		</md-card>
		-->

	<div>



</div> 
