.header{
	height:84px;
	color:white;
	font-weight:bold;
	width:100%;
	z-index:100;
	position:fixed;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.header.sticky{
	z-index:5;
	color:black;
	background-color:white !important;
	height:84px !important;
}
.header.sticky i.new{
	color:#45C3AB;
}
.header.sticky.gallery:after,
.header.sticky.program:after,
.header.sticky.program_write:after,
.header.sticky.staff_write:after,
.header.sticky.noticeList:after,
.header.sticky.notice:after,
.header.sticky.staff:after,
.header.sticky.noticeRegist:after,
.header.sticky.location:after{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	opacity:0;
}
.header .text-logo {
	line-height:24px;
	font-family:'sans-serif';
}
.header .text-logo .son{
	font-size:40px;
}
.header .text-logo .sw{
	font-size:16px;
}
.header .text-logo .cg{
	font-size:30px;
}

.header.sticky .text-logo .son{
	color:#002aff;
}
.header.sticky .text-logo .cg{
	color:black;
}
.header.sticky .text-logo .cg{
	color:black;
}


.header .nav{
	margin:auto;
	height:84px;
	width:1120px;
}
.header .nav .menu-list li{
	display:inline-block;
	vertical-align: middle;
	margin-left:20px;
}
.header .nav .menu-list a{
	line-height:200%;
	width:100px;
	height:100%;
	text-align:center; 
	display:block;
	position:relative;
}

.header .menu-list .underline{
	width:100%;
	height:2px;
	position:absolute;
	bottom:0px;
}
.header .admin{
	position:absolute;
	right:20px;
	top:25px;
}
.header .nav .menu-list a:hover .underline{
	border-bottom:2px solid white;
}

.header.sticky .nav .menu-list a:hover .underline{
	border-bottom:2px solid #45C3AB;
}

.header.program_write:after,
.header.gallery:after,
.header.program:after{
	content : ' ';
	position:absolute;
	z-index:-1;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background: url("/ssw/img/diary.jpg") top left no-repeat fixed;
	background-position-y:-30px;
}
.header.location:after,
.header.noticeRegist:after,
.header.notice:after,
.header.staff_write:after,
.header.staff:after,
.header.noticeList:after{
	content : ' ';
	position:absolute;
	z-index:-1;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background: url("/ssw/img/main_header.jpg") center center no-repeat;
	background-position-y:-100px;

}
.footer{
	width:100%;
	min-height:100px;
	background-color:#56638C;
}
.footer .footer-container{
	padding-top:30px;
	padding-bottom:30px;
	height:100%;
	width:1180px;
	margin:auto;
	color:#C0C7D4;
}
.footer .footer-container p{
	line-height:200%;
	font-size:14px;

}

.footer .footer-container .footer-left-adjust{
	padding-left:20px;
}
.footer .footer-container .links div{
	padding-top:10px;
	padding-bottom:10px;


}


.sub-header{
	height:84px;
	width:100%;
}
#main-video-sec {
	position:relative;
	overflow:hidden;
	background-color:black;
}
#main-video-sec .video-conainer{
	width:100%;
	position:absolute;
	top:0;
	bottom:0;
	overflow:hidden;
}
#main-video-sec .video-container video{
	display:block;
	width:100%;
	background-color:black !important;
}
#main-video-sec p{
	text-shadow: 0 -1px 1px rgba(0,0,0,0.6);
	margin:0;
	color:white;
	position:absolute;
	top:35%;
	right:20%;
}
#main-video-sec .video-wrapper{
	position:absolute;
	background-color:rgba(0, 0, 0, 0.15);
	top:0;
	bottom:0;
	left:0;
	right:0;
}
#main-video-sec .scr-down{
	position:absolute;
	bottom:150px;;
	width:100%;
}
#main-video-sec .scr-down-outer{
	padding-top:20px;
	padding-bottom:20px;
}
#main-video-sec .scr-down-inner{
	border-radius:50%;;
	border:2px solid #45C3AB;
}
.section{
	width:1120px;
	margin:auto;
	min-height:700px;
	/*
	height:700px;
	*/
}
.profile-sec{
	height:700px;
	border-bottom:1px solid #d9d9d9;
	border-top:1px solid #d9d9d9;
}
.profile-sec .mid{
	border-left:1px solid #d9d9d9;
	border-right:1px solid #d9d9d9;
}
.profile-sec .history.mid{
	color:black;

}

.profile-area{
	height:100%;
}
.profile-sec .profile {
	background: url("/ssw/img/son2.jpg") center center no-repeat ;
}
#profile-photo{
	border-radius:50%;
	border:1px solid #7992C6;
}
.headline{
	font-size:20px;
	display:block;
	margin-bottom:15px;
}
.profile-intro-content{
	color:#848484;
}
.profile-intro p{
	font-size:14px;
	line-height:180%;
	border-top:1px solid #a9a9a9;;
	padding-top:20px;
	width:80%;
	margin:auto;

}
.photo h2{
	text-align:center;
}


.p-table .line{
	border-bottom:1px solid #C0C7D4;
	text-align:center;
	font-size:15px;
	min-height:50px;
	padding-top:10px;
	padding-bottom:10px;
}
.p-table .line.np{
	background-color: #F2F7FA;
}
.p-table .line .class-name,
.p-table .line.title{
	font-weight:700;
}
.p-table .prg-title{
	font-size:1
}

.txt-right{
	text-align:right;
}
.txt-center{
	text-align:center;
}
p.md-caption{
	padding-bottom:40px;	
}


.tile-sec {
	background-color:#f5f5f5;
}
.tile-sec .tile-container{
	height:auto !important;
	min-height:auto !important;
}
.tile-sec .tile-container a{
	display:inline-block;
	position:relative;
	overflow:hidden;
}
.tile-sec .tile-container a > div{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0, 0, 0, 0.4);
	text-align:center;
	line-height:200px;
	display:none;
}
.tile-sec .tile-container a > div:before{
	content:'+';	
	font-size:130px;
	text-align:center;
}
.gal md-grid-tile:hover img,
.tile-sec .tile-container a:hover img{

	-webkit-transform:scale(1.03, 1.03);
	-moz-transform:scale(1.03, 1.03);
	-ms-transform:scale(1.03, 1.03);
	-o-transform:scale(1.03, 1.03);
	transform:scale(1.03, 1.03);
}
.tile-sec .tile-container a:hover > div{
	display:block;

}
.gal md-grid-tile img,
.tile-sec .tile-container img{
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.tile-sec .tile-container img{
	width:280px;
}
.tile-sec .ts-t1{
	padding-top:100px;
	padding-bottom:100px;
}
.at-center{
	text-align:center;
}
.at-center .deco{
	margin:auto;
	width:50px;
	height:1px;
	border-bottom:2px solid #44C2AB;
}
.at-center p{
	color:#848484;
}
.at-center p a,
.at-center p a:visited{
	color:#44C2AB;
	text-decoration:underline;
}
.at-left{
	text-align:left;
}
.at-left .deco{
	width:50px;
	height:1px;
	border-bottom:2px solid #44C2AB;
}
.at-left p{
	color:#848484;
}

.about-sec{
	padding-top:100px;
	background-color:#f5f5f5;
}
.about-sec .emo{
	padding-top:100px;
	padding-bottom:100px;
}

.about-sec .goto-program:hover{
	text-decoration:underline;
}
.about-sec .goto-program{
	color:#44C2AB;
	font-size:20px;

}
.program-sec{
	padding-bottom:100px;
}
.program-sec .tab {
	/*
	border-bottom:1px solid #d9d9d9;
	*/
	margin-bottom:20px;
}
.program-sec .tab > a{
	color:#888888;
	padding-bottom:10px;
	padding-left:15px;
	padding-right:15px;
}
.program-sec .tab > .active{
	border-bottom:2px solid #44C2AB;
	color:#000000;
}
.program-top{
	background: url("/ssw/img/diary.jpg") top left no-repeat fixed;
}


.bounce{
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}
.animated{
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	 
	animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	 
	animation-fill-mode:both;
	-webkit-animation-duration:2s;
	-moz-animation-duration:2s;
	-ms-animation-duration:2s;
	-o-animation-duration:2s;
	animation-duration:2s;
}
 
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}


.info-sec{
	background-color:#f5f5f5;
	padding-bottom:100px;
}
.info-sec .faq-title-area{

	padding-bottom:50px;
}
.info-sec .faq-container{
	padding-top:100px;
}
.info-sec .faq-container .info-item .at-center{
	height:200px;
	padding-left:20px;
	padding-right:20px;
}
.map-sec .map{
	width:100%;
	height:450px;
}
.location-sec{
	padding-top:100px;
	min-height:300px;
}
.location-sec .or {
	width:100%;
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
}
.location-sec .or .dash{
	width:100%;
	height:1px;
       background-color:#B0BECE;
}
.location-sec .loc-icon{
	padding-bottom:20px;
}

body.overlayed{
	overflow:hidden;
}

#img-viewer{
	position:fixed;
	z-index:100;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0, 0, 0, 1);


}
#img-viewer .close-btn{
	position:absolute;
	right:20px;
	top:20px;
}
#img-viewer .navi{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
#img-viewer .navi .prev,
#img-viewer .navi .next{
	width:30%;
	height:100%;
	color:white;
	cursor:pointer;
}
#img-viewer .navi .prev{
	float:left;
}
#img-viewer .navi .next{
	float:right;
}
#img-viewer .navi .next .icon ,
#img-viewer .navi .prev .icon {
	display:none;
}
#img-viewer .navi .next:hover .icon ,
#img-viewer .navi .prev:hover .icon {
	display:block;
}
#img-viewer .navi .prev:focus,
#img-viewer .navi .next:focus{
	outline:none;
	border:none;
}
#img-viewer .img-area {
	position:relative;
		 /*
	max-height:800px;
	height:800px;
	*/
}
#img-viewer .desc{
	color:white;
	margin-bottom:50px;
	padding-right:10px;
}
#img-viewer .desc .desc-area{
	margin-bottom:20px;
	text-align:right;
}
#img-viewer .desc .date-area{
	margin-bottom:20px;
	text-align:right;
}
#img-viewer .img-area img{
	width:auto;
}
.gal md-grid-tile{
	background-color:black;
	overflow:hidden;
}
.gal md-grid-tile figure{
	display:block;
	overflow:hidden;
}
.gal md-grid-tile img{
	display:block;
	position:absolute;
	top:-100%;
	bottom:-100%;
	left:-100%;
	right:-100%;
	margin:auto;
	cursor:pointer;
	
}
.gal md-grid-tile .img-wrapper{
	width:100%;
	height:100%;
	cursor:pointer;
}
img.full{
	height:100%;
}
.gal md-grid-tile .gal-menu{
	display:none;
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:50px;
	background-color:rgba(0, 0, 0, 0.5);
	z-index:1;
}
.gal md-grid-tile .gal-menu > div{
	height:100%;
}
.gal md-grid-tile:hover .gal-menu{
	display:block;
}
.mini-gal-sec {
	padding-bottom:30px;
}
.mini-gal-sec md-grid-tile.goto-gallery {
	background-color:white;
	cursor:pointer;
}
.mini-gal-sec md-grid-tile.goto-gallery div{
	width:100%;
	height:100%;
}
.gallery-sec{
	padding-bottom:12px;
}
.gallery-sec .md-fab{
	position:fixed;
	top:50px;
	right:50px;
	z-index:100;
}
#notice-list-sec {
	padding-bottom:50px;
}
#notice-list-sec .noti-navi a{
	padding:10px 10px 10px 10px;
}
#notice-list-sec .noti-navi a:hover{
	text-decoration:underline;
}
#notice-list-sec .noti-container .title-txt{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
#notice-list-sec .noti-container i.material-icons{
	color:#45C3AB;
}
#notice-list-sec .noti-container .date{
	color:#848484;
	font-size:14px;
}
.profile-intro p{
	font-size:14px;
	line-height:180%;
	border-top:1px solid #a9a9a9;;
	padding-top:20px;
	width:80%;
	margin:auto;

}
.photo h2{
	text-align:center;
}


.p-table .line{
	border-bottom:1px solid #C0C7D4;
	text-align:center;
	font-size:15px;
	min-height:50px;
	padding-top:10px;
	padding-bottom:10px;
}
.p-table .line.np{
	background-color: #F2F7FA;
}
.p-table .line .class-name,
.p-table .line.title{
	font-weight:700;
}
.p-table .prg-title{
	font-size:1
}

.txt-right{
	text-align:right;
}
.txt-center{
	text-align:center;
}
p.md-caption{
	padding-bottom:40px;	
}


.tile-sec {
	background-color:#f5f5f5;
}
.tile-sec .tile-container{
	height:auto !important;
	min-height:auto !important;
}
.tile-sec .tile-container a{
	display:inline-block;
	position:relative;
	overflow:hidden;
}
.tile-sec .tile-container a > div{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0, 0, 0, 0.4);
	text-align:center;
	line-height:200px;
	display:none;
}
.tile-sec .tile-container a > div:before{
	content:'+';	
	font-size:130px;
	text-align:center;
}
.gal md-grid-tile:hover img,
.tile-sec .tile-container a:hover img{

	-webkit-transform:scale(1.03, 1.03);
	-moz-transform:scale(1.03, 1.03);
	-ms-transform:scale(1.03, 1.03);
	-o-transform:scale(1.03, 1.03);
	transform:scale(1.03, 1.03);
}
.tile-sec .tile-container a:hover > div{
	display:block;

}
.gal md-grid-tile img,
.tile-sec .tile-container img{
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.tile-sec .tile-container img{
	width:280px;
}
.tile-sec .ts-t1{
	padding-top:100px;
	padding-bottom:100px;
}
.at-center{
	text-align:center;
}
.at-center .deco{
	margin:auto;
	width:50px;
	height:1px;
	border-bottom:2px solid #44C2AB;
}
.at-center p{
	color:#848484;
}
.at-center p a,
.at-center p a:visited{
	color:#44C2AB;
	text-decoration:underline;
}
.at-left{
	text-align:left;
}
.at-left .deco{
	width:50px;
	height:1px;
	border-bottom:2px solid #44C2AB;
}
.at-left p{
	color:#848484;
}

.about-sec{
	padding-top:100px;
	background-color:#f5f5f5;
}
.about-sec .emo{
	padding-top:100px;
	padding-bottom:100px;
}

.about-sec .goto-program:hover{
	text-decoration:underline;
}
.about-sec .goto-program{
	color:#44C2AB;
	font-size:20px;

}
.program-top{
	background: url("/ssw/img/diary.jpg") top left no-repeat fixed;
}


.bounce{
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}
.animated{
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	 
	animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	 
	animation-fill-mode:both;
	-webkit-animation-duration:2s;
	-moz-animation-duration:2s;
	-ms-animation-duration:2s;
	-o-animation-duration:2s;
	animation-duration:2s;
}
 
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}


.info-sec{
	background-color:#f5f5f5;
}
.info-sec .faq-title-area{

	padding-bottom:50px;
}
.info-sec .faq-container{
	padding-top:100px;
}
.info-sec .faq-container .info-item .at-center{
	height:200px;
	padding-left:20px;
	padding-right:20px;
}
.map-sec #map{
	width:100%;
	height:450px;
}
.location-sec{
	padding-top:100px;
}
.location-sec .or {
	width:100%;
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
}
.location-sec .or .dash{
	width:100%;
	height:1px;
       background-color:#B0BECE;
}
.location-sec .loc-icon{
	padding-bottom:20px;
}

body.overlayed{
	overflow:hidden;
}

#img-viewer{
	position:fixed;
	z-index:100;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0, 0, 0, 1);


}
#img-viewer .close-btn{
	position:absolute;
	right:20px;
	top:20px;
}
#img-viewer .navi{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
#img-viewer .navi .prev,
#img-viewer .navi .next{
	width:30%;
	height:100%;
	color:white;
	cursor:pointer;
}
#img-viewer .navi .prev{
	float:left;
}
#img-viewer .navi .next{
	float:right;
}
#img-viewer .navi .next .icon ,
#img-viewer .navi .prev .icon {
	display:none;
}
#img-viewer .navi .next:hover .icon ,
#img-viewer .navi .prev:hover .icon {
	display:block;
}
#img-viewer .navi .prev:focus,
#img-viewer .navi .next:focus{
	outline:none;
	border:none;
}
#img-viewer .img-area {
	position:relative;
		 /*
	max-height:800px;
	height:800px;
	*/
}
#img-viewer .desc{
	color:white;
	margin-bottom:50px;
	padding-right:10px;
}
#img-viewer .desc .desc-area{
	margin-bottom:20px;
	text-align:right;
}
#img-viewer .desc .date-area{
	margin-bottom:20px;
	text-align:right;
}
#img-viewer .img-area img{
	width:auto;
}
.gal md-grid-tile{
	background-color:black;
	overflow:hidden;
}
.gal md-grid-tile figure{
	display:block;
	overflow:hidden;
}
.gal md-grid-tile img{
	display:block;
	position:absolute;
	top:-100%;
	bottom:-100%;
	left:-100%;
	right:-100%;
	margin:auto;
	cursor:pointer;
	
}
.gal md-grid-tile .img-wrapper{
	width:100%;
	height:100%;
	cursor:pointer;
}
img.full{
	height:100%;
}
.gal md-grid-tile .gal-menu{
	display:none;
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:50px;
	background-color:rgba(0, 0, 0, 0.5);
	z-index:1;
}
.gal md-grid-tile .gal-menu > div{
	height:100%;
}
.gal md-grid-tile:hover .gal-menu{
	display:block;
}
.mini-gal-sec {
	padding-bottom:30px;
}
.mini-gal-sec md-grid-tile.goto-gallery {
	background-color:white;
	cursor:pointer;
}
.mini-gal-sec md-grid-tile.goto-gallery div{
	width:100%;
	height:100%;
}
.gallery-sec{
	padding-bottom:12px;
}
.gallery-sec .md-fab{
	position:fixed;
	top:50px;
	right:50px;
	z-index:100;
}
#notice-list-sec .noti-navi a{
	padding:10px 10px 10px 10px;
}
#notice-list-sec .noti-navi a:hover{
	text-decoration:underline;
}
#notice-list-sec .noti-container .title-txt{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
#notice-list-sec .noti-container i.material-icons{
	color:#45C3AB;
}
#noti-read-sec .date,
#notice-list-sec .noti-container .date{
	color:#848484;
	font-size:14px;
}
#noti-write-sec .btn-area{
	padding-top:30px;
	padding-bottom:30px;
	
}
#noti-write-sec .title-area{
	margin-bottom:40px;
}
#noti-read-sec .noti-read-area{
	padding-top:50px;
}
#noti-read-sec md-divider{
	margin-top:20px;
	margin-bottom:20px;
}
#noti-read-sec .content-area{
	min-height:400px;
}
#noti-read-sec .content-area a{
	color:#44C2AB !important;
	text-decoration:underline;
}
#staff-write-sec .txt-name,
#staff-sec .txt-name{
	color:white;
}
#staff-write-sec .txt-meta,
#staff-sec .txt-meta{
	color:#C1C8D5;
}
#staff-write-sec .profile-left,
#staff-sec .profile-left{
	background-color:#56638D;
}
