#main-video-sec.v2 {
	height:100px;
}
#main-video-sec.v2 > p{
	position:relative;
	top:inherit;
	right:inherit;
}
.gal.v2 .main-branch.color{
	background-color:#44C2AB;
	color:white;
}
.gal.v2 md-grid-tile:hover img{
	-webkit-transform:none;
	-moz-transform:none;
	-ms-transform:none;
	-o-transform:none;
	transform:none;
}
.gal.v2 img.branch-img:hover{
	-webkit-transform:scale(1.03, 1.03);
	-moz-transform:scale(1.03, 1.03);
	-ms-transform:scale(1.03, 1.03);
	-o-transform:scale(1.03, 1.03);
	transform:scale(1.03, 1.03);
}
.gal.v2 .branch-title-wrapper{
	margin:0;
	padding:0;
	height:100%;
}

.pc_main1{
	height:400px;
	background-image:url('../img/pc_main1.jpg');
	background-size: 100% auto;
	background-position-y:-200px;
	background-attachment:fixed;
	background-repeat:no-repeat;
}

.tile-sec.v2 .gp-container{
	padding-top:100px;
}
.tile-sec.v2 .goto-program:hover{
	text-decoration:underline;
}
.tile-sec.v2 .goto-program{
	color:#44C2AB;
	font-size:20px;

}
#main-video-sec.v2 {
	background-size: 100% auto;
	background-position-y:-150px;
	background-repeat:no-repeat;
}
