<div id="img-viewer"  class="backdrop" layout="column" layout-align="space-around stretch" >
	<div class="navi" >
		<div class="prev" layout="row" layout-align="start center" ng-click="prev()" ng-show="viewer.idx > 0" >
			<img class="icon" src="/ssw/img/ic_prev.svg" width="84px" height="84px" />
		</div>
		
		<div class="next"  layout="row" layout-align="end center"  ng-click="next()"  ng-show="viewer.idx < viewer.list.length-1">
			<img class="icon" src="/ssw/img/ic_next.svg"  width="84px" />
		</div>
	</div>
	<a href="javascript:void(0);" class="close-btn" ng-click="close()" >
		<img src="/ssw/img/ic_close.svg" width="64px" />
	</a>
	<div flex layout="row" layout-align="center center" >
		<div flex layout-align="center center" layout="row" class="img-area" >
			<div class="desc" layout="row" layout-align="space-between center" >
				<span class="desc-area" >{{selImg.description}}</span>
				<span class="date-area" >{{selImg.upload_date}}</span>
			</div>
			<img ng-src="{{selImg.path}}"  ng-class="{isFull : selImg.h > 900}" />
		</div>
	</div>
</div>
