<div class="section" id="location-sec" >
	<div>
		<div layout='column' layout-align='center center' >
			<h3 class='md-display-1' >판교점</h3>
			<div id="pan_map" class='map' ></div>
		</div>
		<div flex layout="column" layout-align="center center" class="desc-area" >
			<div class="md-subhead"  layout="column" layout-align="center center" >
				<div class="loc-icon">
					<img src="/ssw/img/ic_location.svg" width="42px" height="42px" />
				</div>
				<p>
					경기도 성남시 분당구 삼평동 682번지 유스페이스2 지하1층 120호
				</p>
				<div class="md-caption or" layout="row" layout-align="center center" >
					<div flex="45" class="dash" ></div>
					<div flex >OR</div>
					<div flex="45" class="dash" ></div>
				</div>
				<p>
					경기동 성남시 분당구 대왕판교로 670(삼평동) 유스페이스2 지하 1층 120호
				</p>
			</div>

		</div>
	</div>


	<div> 
		<div layout='column' layout-align='center center' >
			<h3 class='md-display-1' >잠실점</h3>
			<div id="jam_map" class='map' ></div>
		</div>
		<div flex layout="column" layout-align="center center" class="desc-area" >
			<div class="md-subhead"  layout="column" layout-align="center center" >
				<div class="loc-icon">
					<img src="/ssw/img/ic_location.svg" width="42px" height="42px" />
				</div>
				<p>
				서울시 송파구 삼전동49-1 창대빌딩 지하1층
				</p>
				<div class="md-caption or" layout="row" layout-align="center center" >
					<div flex="45" class="dash" ></div>
					<div flex >OR</div>
					<div flex="45" class="dash" ></div>
				</div>
				<p>
				서울 송파구 백제고분로 224 창대빌딩 지하1층
				</p>
			</div>

		</div>
	</div>
</div>

