<md-dialog >
        <md-toolbar>
                <div class="md-toolbar-tools">
                        <h2>관리자 로그인</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="close()" >
                                <md-icon md-svg-src="/ssw/img/ic_close.svg" area-label="close" ></md-icon>
                        </md-button>
                </div>
        </md-toolbar>
        <md-dialog-content style="width:400px; max-height:300px;" layout-padding>

		<form layout="column" layout-align="center stretch" name="loginForm" >
			<md-input-container>
				<label>아이디</label>
				<input type="text" name="id" ng-model="admin.id" required />
				<div ng-messages="loginForm.id.$error" >
					<div ng-message="required" > 아이디를 입력하세요.  </div>
				</div>
			</md-input-container>
			<md-input-container>
				<label>비밀번호</label>
				<input type="password" name="pw" ng-model="admin.pw" required />
				<div ng-messages="loginForm.pw.$error" >
					<div ng-message="required" > 비밀번호를 입력하세요.  </div>
				</div>
			</md-input-container>
			<div class="md-actions">
				<md-button class="md-primary md-raised" type="submit" ng-click="login(loginForm)"  >
					업로드
				</md-button>
			</div>
		</form>
        </md-dialog-content>

</md-dialog>

