<div full-section="90%"  id="main-sec" class="section v2" layout-align="center center" layout="column" ng-style='background' >
	<p class="md-headline w" >
		새로운 스포츠에 대한 도전은<br/>
		언제나 즐겁습니다.<br/><br/>
		클라이밍</br>
		도전해보세요.
	</p>

</div>
<div full-section="10%"  id="main-noti-sec" layout-align="center center" layout="row" >
<span flex="65" class="main-noti" ui-sref="notice({id:topNoti.NOTICE_ID})" ng-show="topNoti">
	{{topNoti.TITLE}}
</span>
<span flex  class="main-noti-date" >
	{{topNoti.REGISTER_DATE.substring(0, 10)}}
</span>
<span flex="15" layout-align="center center" layout="row" >
	<md-button class="md-icon-button" ui-sref="noticeList" >
		<i class="material-icons" >add</i>
	</md-button>
</span>

</div>
<div full-section="200px" id="intro-sec"  class="section" layout-align="start center" layout="column" >

	<p class="md-title" >
		최고의 시설과 환경에서<br/> 클라이밍에 도전하세요
	</p>

	<div class="tile-gal-wrap" >
		<div layout="row" layout-align="start center"  class="tile-gal" ng-style='{width:(branchPanImg.length+1) * 297.5}' >
			<div class="tile v2 branch pan" style="width:280px !important;" flex layout='column' layout-align='center stretch' >
				<p class='md-title' >
					판교점
				</p>
				
			</div>
			<div ng-repeat="img in branchPanImg" class="tile" style="width:280px !important;" >
				<img ng-src="{{img.path + '?dim=280'}}" style="width:280px;" />
			</div>
		</div>
	</div>
	<div class="tile-gal-wrap" >
		<div layout="row" layout-align="start center"  class="tile-gal" ng-style='{width:(branchJamImg.length+1) * 297.5}' >
			<div class="tile v2 branch" style="width:280px !important;" flex layout='column' layout-align='center stretch' >
				<p class='md-title' >
					잠실점
				</p>
				
			</div>
			<div ng-repeat="img in branchJamImg" class="tile" style="width:280px !important;" >
				<img ng-src="{{img.path + '?dim=280'}}" style="width:280px;" />
			</div>
		</div>
	</div>
	<div layout-align="center center" layout="column" class="at" >
		<div class="md-title" >손상원클라이밍짐은 </div>
		<p class="md-subhead" >
			스포츠클라이밍에 관심 있어 하는 <br/>사람들이 늘어나고 있습니다.<br/>
			그 수요만큼의 공급이 준비되고 <br/>있지 않음이 너무나 아쉬워</br/>
			누구라도 도전할 수 있는 공간을 마련했습니다.
		</p>
		<div class="deco" ></div>
	</div>

	<div class="tile-gal-wrap v2"  >
	</div>
	<div layout-align="center center" layout="column" class="at" >
		<div class="md-title" >클라이밍은</div>
		<p class="md-subhead" >
			근력운동과 유산소 운동을 동시에 하며, <br/>유연성과 균형감각을 기르고, 몸매관리에 도움이 됩니다.<br/>
			평소 잘 사용하지 않는 근육을 많이 사용하기<br/> 때문에 몸매관리나 잔근육을 키울수 있습니다.<br/>
		</p>
		<div class="deco" ></div>
	</div>

	<div class="at" layout="column" layout-align="center center" >
		<span class="md-headline" >지금 시작하세요.</span>
		<br/>
		<br/>
		<a ui-sref="program" class="goto-program"  >강습 시간표보기<img src="/ssw/img/ic_arrow_forward.svg" /> </a>
	</div>
</div>
<div class="section" id="son-sec" full-section="400px"  >
	<div class="photo" flex layout="column" layout-align="center center"  >
		<img id="profile-photo" src="/mobile/img/profile.jpg" width="80px" height="80px"  />
		<h2 class="md-headline" >대표 손상원</h2>

	</div>
	<div class="son-text" layout-align="center center" layout="row" >
		<div layout="column"  class="profile-cover"  flex >
			<div class="profile-intro" flex  >
				<p>
				<span class="headline" > 클라이밍은 힘으로 하는 운동이 아닙니다.</span>
				<span class="profile-intro-content" >
				머리로 계속 생각하고, 발로 균형을 잡으며 하는 <br/>
				창조적인 운동입니다.<br/>
				단순히 체력으로 하는 부분이 아니라,<br/>
				머리를 써서 최소한의 손동작과 <br/>체중의 중심을 이동시키면서<br/>
				더 많이, 더 높이 올라가며 스릴을 느끼는 것..<br/>
				<br/>
				그것이 클라이밍의 매력입니다.
				</span>
				</p>

			</div>
		</div>

	</div>

</div>

<div full-section="200px"  id="faq-sec" class="section" >
	<div class="sepe"  >
	</div>
	<div layout="column" flex>
		<div layout="row" class="faq-item" >
			<div flex="15" layout="row" layout-align="center start" >
				<i class="material-icons">today</i>
			</div>
			<div flex class="info-item" layout="row" layout-align="start start">
				<div class="at" >
					<div class="md-title" >센터 운영시간은 어떻게 되나요?</div>
					<p class="md-subhead l" >
						월, 화, 수, 목요일은 10:00 부터 23:00 까지, <br/>
						금요일은 10:00 부터 22:00 까지,<br/>
						주말 및 공휴일은 10:00 부터 18:00 까지 운영합니다.
					</p>
				</div>
			</div>
		</div>
		<div layout="row"  class="faq-item" >
			<div flex="15" layout="row" layout-align="center start" >
				<i class="material-icons">schedule</i>
			</div>
			<div flex class="info-item" layout="row" layout-align="start start">

				<div class="at" >
					<div class="md-title" >강습 시간과 비용은 어떻게 되나요? </div>
					<p class="md-subhead l" >
						강습은 금요일을 제외한  오전,점심,저녁반 골고루 운영합니다.<br/>
						기간별 이용권/강습권을 구매 가능하며<br/> 일일권 또한 사용 가능합니다.<br/>
						자세한 사항은 <a ui-sref="program" >여기</a>를 참고하세요.

					</p>
				</div>
			</div>
		</div>
		<div layout="row"  class="faq-item" >
			<div flex="15" layout="row" layout-align="center start" >
				<i class="material-icons">local_parking</i>
			</div>
			<div flex class="info-item" layout="row" layout-align="start start">
				<div class="at" >
					<div class="md-title" >주차가 가능한가요? </div>
					<p class="md-subhead l" >
						주차는 평일 무료 3시간 까지 가능합니다.<br/>
						주말에는 시간 제한 없이 주차가 가능합니다.<br/>
						주차는 본 건물 지하주차장을 이용하시면됩니다.<br/>
						잠실점은 무료 2시간 까지 가능합니다.<br/>


					</p>
				</div>
			</div>
		</div>
		<div layout="row"  class="faq-item" >
			<div flex="15" layout="row" layout-align="center start" >
				<img src='/mobile/img/shower.svg' width='24px' />
			</div>
			<div flex class="info-item" layout="row" layout-align="start start">
				<div class="at" >
					<div class="md-title" >운동 후 씻을 수 있나요? </div>
					<p class="md-subhead l" >
						판교점과 잠실점 모두 샤워시설이 완비되어 있습니다.<br/>
						탈의실 내에 샤워 부스와 수건이 준비되어 있습니다.<br/>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div full-section="200px"  id="mini-gal-sec" >
        <md-grid-list
                md-cols="3"
                md-row-height="1:1"
                md-gutter="3px" class="gal" >

                <md-grid-tile md-rowspan="1" md-colspan="1" ng-repeat="tile in galleryTile" ng-click="showGallery($index)" >
                                <img ng-src="{{'/photo/' + tile.path + (tile.h > 150 ? '?dim=x150' : '')}}" ng-class="{full:tile.h > 150}" />
                </md-grid-tile>

        </md-grid-list>
	<div flex layout="row" layout-align="center center" class="more-area" ui-sref="gallery" >
		<span >더보기 + </span>

	</div>
</div>

