<div class="section" id="noti-read-sec" >

	<div ng-repeat="notice in currentNotice" layout="column" layout-align="center stretch" class="noti-read-area" >
		<div flex  layout="row" layout-align="cetner center" >
			<div class="md-title" flex="80" layout="row" layout-align="start center" ><span>{{notice.TITLE}}</span></div>
			<div flex layout="row" layout-align="center center" ><span class="date" >{{notice.REGISTER_DATE}}</span></div>
		</div>
		<md-divider></md-divider>
		<div flex ng-bind-html="notice.CONTENTS" class="content-area" >
		</div>
		<md-divider></md-divider>
		<div class="btn-area" layout-align="space-around center" >
			<md-button ui-sref="noticeList" class="md-raised" >목록</md-button>
		</div>


	</div>

</div> 
