<md-dialog >
        <md-toolbar>
                <div class="md-toolbar-tools">
                        <h2>{{staffModal.title}}</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="close()" >
				<i class="material-icons" >close</i>
                        </md-button>
                </div>
        </md-toolbar>
        <md-dialog-content style="width:800px; min-height:500px;" layout-padding>

		<form name="staffForm" >
			<div layout="column" layout-align="center center" >
				<label class="md-media-md" style="width:120px;height:120px;position:relative;overflow:hidden;border-radius:50%;cursor:pointer;" for="profile-upload" >
					<img ng-src="{{staff.photo_path}}" width="100%" height="100%"  style="border-radius:50%;background-color:#d9d9d9;" />
					<div style="position:absolute;bottom:0;width:100%;height:30px;background-color:rgba(0, 0, 0, 0.3);color:white;" layout="row" layout-align="center center">
						<i class="material-icons">insert_photo</i>
					</div>
				</label>
				<a ng-click="staff.photo_path='/ssw/img/profile_placeholder.svg'" href="javascript:void(0);" style="font-size:80%;margin-top:10px;"     >사진삭제</a>
				<div style="font-size:70%;margin-top:10px;" >*사진은 120X120크기가 적당합니다.</div>
				<input type="file" id="profile-upload" nv-file-select uploader="uploader" style="display:none;" />
			</div>
			<div layout="column" layout-align="center stretch" >
				<div layout="row" layout-align="center center" >
					<md-input-container flex>
						<label>이름</label>
						<input type="text" name="name"  ng-model="staff.name" required />
						<div ng-messages="staffForm.name.$error" >
							<div ng-message="required" > 이름을 입력하세요.  </div>
						</div>
					</md-input-container>
					<md-input-container flex>
						<label>역할</label>
						<input type="text" name="position"  ng-model="staff.position" />
					</md-input-container>
					<md-input-container flex>
						<label>생년월일</label>
						<input type="text" name="birth"  ng-model="staff.birth" />
					</md-input-container>
				</div>
				<md-input-container >
					<label>이력/프로필</label>
					<textarea name="profile"  ng-model="staff.profile" rows="7" ></textarea>
				</md-input-container>
			</div>
		</form>
		<div class="md-actions">
			<md-button class="md-primary md-raised" ng-click="submit()"  >
			저장하기
			</md-button>
			<md-button class="md-raised" ng-click="close()"  >
			취소
			</md-button>
		</div>
        </md-dialog-content>

</md-dialog>

