<div layout="row" layout-align="center start" flex class="footer-container" layout-wrap >
	<div class="copyright" flex layout="row" layout-align="center stretch" >
		<div flex >
			<img src="/ssw/img/ic_info.svg" /><br/>
			<p>
			상호명 : 손상원 클라이밍 짐 <br/>
			대표 : 손상원 <br/> 
			사업자등록번호 : 144-02-26094 <br/>
			판교 : 경기도 성남시 분당구 삼평동 682번지<br/> 유스페이스2동 지하 1층 102호 <br/>
			잠실 : 서울시 송파구 삼전동49-1 창대빌딩 지하1층<br/>
			COPYRIGHT © 2014. 손상원 클라이밍 짐.<br/> All Rights Reserved.
			</p>
		</div>
	</div>
	<div flex class="footer-left-adjust" >
		<img src="/ssw/img/ic_call.svg" /><br/>
		<p>
		판교 : 031-739-8332 / 8334<br/>
		잠실 : 02-423-5015<br/>
		</p>
		<br/>
		<img src="/ssw/img/ic_email.svg" /><br/>
		<p>
		jesus-zeus@daum.net<br/>
		</p>
	</div>


	<div flex layout="column" layout-align="start start" class="footer-left-adjust" >
		<div class="md-title" >Follow Us / With Us</div>
		<div layout="column" layout-align="center center" class="links" >
			<div><a href="https://www.facebook.com/%EC%86%90%EC%83%81%EC%9B%90-%ED%81%B4%EB%9D%BC%EC%9D%B4%EB%B0%8D%EC%A7%90-1526147677626079" target="_blank" ><img src="/ssw/img/facebook_w.png" width="64px" height="64px" /></a></div>
			<div><a href="http://cafe.daum.net/sswclimbinggym" target="_blank" ><img src="/ssw/img/daumcafe_w.png" width="64px" height="64px" /></a></div>
		</div>
	</div>
</div>
