<div class="header" main-header  ng-class="headerClass" >
	<div class="nav" layout="row" layout-align="center center" >
		<div flex="30" layout="row" layout-align="start center" >
		<!--
			<img src="/ssw/img/logo.svg" height="70px" />
			-->
			<a href="/" >
				<logo id="header-logo" height="80px" color="white"  ></logo>
			</a>
		</div>
		<div flex layout="row" layout-align="end center" >
			<ul class="menu-list" >
				<li>
					<a ui-sref="noticeList" >
						<span>공지사항<i ng-show="isNew()" class="material-icons new" >fiber_new</i></span>
						<div class="underline" ></div>
					</a>
				</li>
				<li>
					<a ui-sref="program" >
						<span>강습 프로그램</span>
						<div class="underline" ></div>
					</a>
				</li>
				<li>
					<a ui-sref="staff" >
						<span>강사소개</span>
						<div class="underline" ></div>
					</a>
				</li>
				<li>
					<a ui-sref="gallery" >
						<span>갤러리</span>
						<div class="underline" ></div>
					</a>
				</li>
				<li>
					<a ui-sref="location" >
						<span>오시는 길</span>
						<div class="underline" ></div>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="admin menu-list" >
		<a ng-if="!user" ng-click="login($event)" >
			<md-button class="md-icon-button" >
				<i class="material-icons" >lock</i>
			</md-button>
		</a>
		<a ng-if="user"  >
			<md-menu>
				<md-button class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)" >
					<i class="material-icons" >menu</i>
				</md-button>
				<md-menu-content width="4" >
					<md-menu-item>
						<md-button ui-sref="noticeRegist" >공지 작성 </md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="uploadImg($event)" >갤러리 사진 업로드</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ui-sref="program_write" >강의 시간표 수정</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ui-sref="staff_write" >강사 수정</md-button>
					</md-menu-item>
					<md-menu-divider></md-menu-divider>
					<md-menu-item >
						<md-button ng-click="logout()">로그아웃</md-button>
					</md-menu-item>
					
				</md-menu-content>
			</md-menu>
		</a>
	</div>
</div>
