<md-dialog class="upDlg" >
        <md-toolbar>
                <div class="md-toolbar-tools">
                        <h2>사진 업로드</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="close()" >
                                <md-icon md-svg-src="/ssw/img/ic_close.svg" area-label="close" ></md-icon>
                        </md-button>
                </div>
        </md-toolbar>
        <md-progress-linear md-mode="determinate" value="{{uploader.progress}}" ></md-progress-linear>
        <md-dialog-content style="width:700px; max-height:700px;" layout-padding>
                <div class="dlg-content" layout-align="center center" >
			<div flex class="md-subhead" >
				- 사진은 한번에 5개까지 업로드 가능합니다.<br/>
				- jpg, png 확장자의 이미지 파일만 업로드 가능합니다.<br/>
				<br/>
			</div>
			<div flex layout="row" layout-wrap>
				<md-input-container flex>
					<label>사진 설명</label>
					<input ng-model="photo.desc" />
				</md-input-container>
			</div>
                        <div class="up-area" >
                                <input type="file" id="file-uploader"  nv-file-select uploader="uploader"  multiple />
                        </div>
                        <div>
                                <ul ng-show="uploader.queue.length > 0" class="upload-list" >
                                        <li ng-repeat="f in uploader.queue" layout="row" layout-align="center center" >
                                                <div flex class="list-title" >
                                                        <span class="filename" >{{f.file.name}}<span><br/>
                                                        <span class="filesize" >{{f.file.size/1024| number:2}}KB<span><br/>
                                                </div>
                                                <div flex="20" class="status" >
                                                        <span ng-show="f.isUploaded && f.isSuccess" >완료</span>
                                                        <md-button class="md-warn" ng-hide="f.isUploaded && f.isSuccess || f.inProgress" ng-click="f.remove()" >삭제</md-button>
							<md-progress-circular md-mode="indeterminate" md-diameter="25" ng-show="f.inProgress" ></md-progress-circular>
                                                </div>
                                        </li>
                                </ul>
                        </div>
                </div>
                        <!-- uplodaer.clearQueue() -->
                <div class="md-actions">
                        <md-button class="md-primary md-raised circular-prgoress-button" ng-click="uploader.uploadAll()"  >
				업로드
                        </md-button>
                </div>
        </md-dialog-content>

</md-dialog>

