<div full-section="100px" ></div>
<div full-section="300px" class="map-sec" layout='column' layout-align='center center' >
	<h3 class='md-display-1' >판교점</h3>
	<div id="pan_map" class='map' ></div>
</div> 
<div class="section location-sec" >
	<div flex layout="column" layout-align="center center" >
		<div class="md-subhead"  layout="column" layout-align="center center" >
			<div class="loc-icon">
				<img src="/ssw/img/ic_location.svg" width="42px" height="42px" />
			</div>
			<div>
			경기도 성남시 분당구 삼평동 682번지 유스페이스2 지하1층 120호
			</div>
			<div class="md-caption or" layout="row" layout-align="center center" >
				<div flex="45" class="dash" ></div>
				<div flex >OR</div>
				<div flex="45" class="dash" ></div>
			</div>
			<div>
			경기동 성남시 분당구 대왕판교로 670(삼평동) 유스페이스2 지하 1층 120호
			</div>
		</div>

	</div>
</div>
<div full-section="300px" class="map-sec" layout='column' layout-align='center center' >
	<h3 class='md-display-1' >잠실점</h3>
	<div id="jam_map"  class='map' ></div>
</div> 
<div class="section location-sec" >
	<div flex layout="column" layout-align="center center" >
		<div class="md-subhead"  layout="column" layout-align="center center" >
			<div class="loc-icon">
				<img src="/ssw/img/ic_location.svg" width="42px" height="42px" />
			</div>
			<div>
			서울시 송파구 삼전동49-1 창대빌딩 지하1층
			</div>
			<div class="md-caption or" layout="row" layout-align="center center" >
				<div flex="45" class="dash" ></div>
				<div flex >OR</div>
				<div flex="45" class="dash" ></div>
			</div>
			<div>
			서울 송파구 백제고분로 224 창대빌딩 지하1층
			</div>
		</div>

	</div>
</div>
