<div full-section="150px" ></div>

<div class="section" id="notice-list-sec" >
	<div flex>
		<div class="md-headline" >공지사항</div>
	</div>
	<md-list flex class="noti-container">
		<md-subheader class="md-no-sticky" >
			<div flex layout="row" layout-align="space-between center" >
				<div flex="90" layout="row" layout-align="center center" ><span>제목</span></div>
				<div flex  layout="row" layout-align="center center" ><span>날짜</span></div>
			</div>
		</md-subheader>
		<md-divider></md-divider>
		<md-list-item ng-show="currentPageItems.length == 0 && noticeList" layout="row" flex layout-align="center center" >
			<span>등록된 공지가 없습니다.</span>
		</md-list-item>
		<md-list-item ng-repeat="notice in currentPageItems" ui-sref="notice({id:notice.NOTICE_ID})" ng-show="currentPageItems.length > 0 && noticeList" >
			<div flex layout="row" layout-align="space-between center" >
				<div flex="90" layout="row"  layout-align="start center" >
					<span  class="title-txt" >{{notice.TITLE}}</span>
					<i class="material-icons" ng-show="isNew(notice)" >fiber_new</i>
				</div>
				<div flex class="date" layout="row" layout-align="center center" ><span>{{notice.REGISTER_DATE.substring(0, 11)}}</span></div>
			</div>
		</md-list-item>
	</md-list>
	
	<div flex layout="row" layout-align="center center" class="noti-navi" ng-show="currentPageItems.length > 0 && noticeList">
		<a href="" ng-click="prevPageSet()"><<</a>
		<a ng-repeat="page in noticeList | pageCount:pageSize | limitTo: pageLimit()" href="" ng-click="selectPage($index +1+currentPageSet)">{{$index +1+currentPageSet}}</a>
		<a href="" ng-click="nextPageSet()">>></a>
	</div>
					
	<div layout="row" layout-align="end center" ng-show="user"  >
		<md-button ui-sref="noticeRegist({id:0})" class="md-primary md-raised"  > 등록</md-button>
	<div>
</div> 
