<div full-section="150px" ></div>
<div class="program-sec" >
	<div class="section" >
		<div layout='row' layout-align='start center' class='tab'>
			<a class='md-title' ng-class='{"active" : tab === 1}' ng-click='showTab(1)' >판교</a>
			<a class='md-title' ng-class='{"active" : tab === 2}' ng-click='showTab(2)' >잠실</a>
		</div>
		<div>
			<div class="p-table" layout="column" layout-align="center stretch" flex>
				<div class="md-headline" >교육 프로그램</div>
				<div layout="row" layout-align="space-between center" class="line title"  >
					<div flex ng-repeat="p in programTitle" style="white-space:pre;" >{{p}}</div>
				</div>
				<div layout="row" layout-align="space-between center" class="line" ng-class="{'n' : $index %2 == 1, 'np' : $index %2 ==0}" ng-repeat="prg in programs.list" >
					<div flex layout="row" layout-align="center center"  >
						<span style="white-space:pre;" >{{prg.title}}</span>
						<md-menu>
							<md-button class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)" ><i class="material-icons">more_horiz</i></md-button>
							<md-menu-content width="2" >
								<md-menu-item>
									<md-button ng-click="programs.mod(prg.num, $index, $event)" >수정</md-button>
								</md-menu-item>
								<md-menu-item>
									<md-button ng-click="programs.del(prg.num, $index, $event)" >삭제</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</div>
					<div flex style="white-space:pre;" >{{prg.day}}</div>
					<div flex style="white-space:pre;" >{{prg.time}}</div>
					<div flex style="white-space:pre;" >{{prg.period}}</div>
					<div flex style="white-space:pre;" >{{prg.price}}</div>
				</div>
				<div layout="row"  >
					<p class="md-caption" flex >
						<span style="white-space:pre;" >{{comments.lecture.comment}}</span>
					</p>
					<div flex layout="row" layout-align="end start" >
						<md-button class="md-raised " ng-click="comments.mod($event, comments.lecture)" >코멘트 수정</md-button >
						<md-button class="md-raised md-primary" ng-click="programs.add($event)" >프로그램 추가</md-button >
					</div>
				</div>
			</div>

			<div class="member p-table" layout="column" layout-align="center stretch" flex>
				<div class="md-headline" >회원권</div>
				<div layout="row" layout-align="space-between center" class="line title" >
					<div flex ng-repeat="m in memberTitle" style="white-space:pre;" >{{m}}</div>
				</div>
				<div layout="row" layout-align="space-between center" class="line" ng-class="{'n' : $index %2 == 1, 'np' : $index %2 ==0}" ng-repeat="m in members.list" >
					<div flex layout="row" layout-align="center center" >
						<span style="white-space:pre;" >{{m.title}}</span>
						<md-menu>
							<md-button class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)" ><i class="material-icons">more_horiz</i></md-button>
							<md-menu-content width="2" >
								<md-menu-item>
									<md-button ng-click="members.mod(m.num, $index, $event)">수정</md-button>
								</md-menu-item>
								<md-menu-item>
									<md-button ng-click="members.del(m.num, $index, $event)">삭제</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</div>
					<div  flex  style="white-space:pre;position:relative;" ng-bind-html='trustAsHtml(m.adult)'></div>
					<div  flex  style="white-space:pre;" >{{m.student}}</div>
				</div>
				<div layout="row"  >
					<p class="md-caption" flex >
						<span style="white-space:pre;" >{{comments.member.comment}}</span>
					</p>
					<div flex layout="row" layout-align="end start" >
						<md-button class="md-raised " ng-click="comments.mod($event, comments.member)" >코멘트 수정</md-button >
						<md-button class="md-raised md-primary"  ng-click="members.add($event)">회원권 추가</md-button >
					</div>
				</div>
			</div>


			<div class="member p-table" layout="column" layout-align="center stretch" flex>
				<div class="md-headline" >특별가</div>
				<div layout="row" layout-align="space-between center" class="line title" >
					<div ng-repeat="s in specialTitle" style="white-space:pre;" flex >{{s}}</div>
				</div>
				<div layout="row" layout-align="space-between center" class="line" ng-class="{'n' : $index %2 == 1, 'np' : $index %2 ==0}" ng-repeat="s in specials.list" >
					<div flex layout="row" layout-align="center center" >
						<span style="white-space:pre;" >{{s.title}}</span>
						<md-menu>
							<md-button class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)" ><i class="material-icons">more_horiz</i></md-button>
							<md-menu-content width="2" >
								<md-menu-item>
									<md-button ng-click="specials.mod(s.num, $index, $event)">수정</md-button>
								</md-menu-item>
								<md-menu-item>
									<md-button ng-click="specials.del(s.num, $index, $event)">삭제</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</div>
					<div flex style="white-space:pre;" >{{s.option}}</div>
					<div flex style="white-space:pre;position:relative;" ng-bind-html='trustAsHtml(s.price)' ></div>
				</div>
				<div layout="row"  >
					<p class="md-caption" flex >
						<span style="white-space:pre;" >{{comments.special.comment}}</span>
					</p>
					<div flex layout="row" layout-align="end start" >
						<md-button class="md-raised " ng-click="comments.mod($event, comments.special)" >코멘트 수정</md-button >
						<md-button class="md-raised md-primary" ng-click="specials.add($event)" >특별가 추가</md-button >
					</div>
				</div>
			</div>
		</div>

	</div>
</div> 
