<div full-section="150px" ></div>
<div class="program-sec" >
	<div class="section" >
		<div layout='row' layout-align='start center' class='tab'>
			<a class='md-title' ng-class='{"active" : tab === 1}' ng-click='showTab(1)' >판교</a>
			<a class='md-title' ng-class='{"active" : tab === 2}' ng-click='showTab(2)' style='position:relative;'>잠실<img src='/common/img/sale.svg' width='48px' style='position:absolute;top:-22px;right:-20px;' /></a>
		</div>
		<div >
			<div class="p-table" layout="column" layout-align="center stretch" flex>
				<div class="md-headline" > 교육 프로그램 </div>
				<div layout="row" layout-align="space-between center" class="line title"  >
					<div flex ng-repeat="p in prgItems.lecture.title" style="white-space:pre-wrap;" >{{p}}</div>
				</div>
				<div layout="row" layout-align="space-between center" class="line" ng-class="{'n' : $index %2 == 1, 'np' : $index %2 ==0}" ng-repeat="prg in prgItems.lecture.list" >
					<div flex layout="row" layout-align="center center"  >
						<span style="white-space:pre-wrap;" >{{prg.title}}</span>
					</div>
					<div flex style="white-space:pre-wrap;" >{{prg.day}}</div>
					<div flex style="white-space:pre-wrap;" >{{prg.time}}</div>
					<div flex style="white-space:pre-wrap;" >{{prg.period}}</div>
					<div flex style="white-space:pre-wrap;" >{{prg.price}}</div>
				</div>
			</div>
			<p class="md-caption" style="white-space:pre-wrap;" >{{prgItems.comment.lecture.comment}}</p>

			<div class="member p-table" layout="column" layout-align="center stretch" flex>
				<div class="md-headline" >회원권</div>
				<div layout="row" layout-align="space-between center" class="line title" >
					<div flex ng-repeat="m in prgItems.member.title" style="white-space:pre-wrap;" >{{m}}</div>
				</div>
				<div layout="row" layout-align="space-between center" class="line" ng-class="{'n' : $index %2 == 1, 'np' : $index %2 ==0}" ng-repeat="m in prgItems.member.list" >
					<div flex layout="row" layout-align="center center" >
						<span style="white-space:pre-wrap;" >{{m.title}}</span>
					</div>
					<div  flex  style="white-space:pre-wrap;position:relative;" ng-bind-html='trustAsHtml(m.adult)'></div>
					<div  flex  style="white-space:pre-wrap;" >{{m.student}}</div>
				</div>
			</div>
			<p class="md-caption" style="white-space:pre-wrap;" >{{prgItems.comment.member.comment}} </p>



			<div ng-show ="prgItems.special.list.length > 0" >
				<div class="member p-table" layout="column" layout-align="center stretch" flex>
					<div class="md-headline" >특별가</div>
					<div layout="row" layout-align="space-between center" class="line title" >
						<div ng-repeat="s in prgItems.special.title" style="white-space:pre-wrap;" flex >{{s}}</div>
					</div>
					<div layout="row" layout-align="space-between center" class="line" ng-class="{'n' : $index %2 == 1, 'np' : $index %2 ==0}" ng-repeat="s in prgItems.special.list" >
						<div flex layout="row" layout-align="center center" >
							<span style="white-space:pre-wrap;" >{{s.title}}</span>
						</div>
						<div flex style="white-space:pre-wrap;" >{{s.option}}</div>
						<div flex style="white-space:pre-wrap;position:relative;" ng-bind-html='trustAsHtml(s.price)' ></div>
					</div>
				</div>

				<p class="md-caption" style="white-space:pre-wrap;" >{{prgItems.comment.special.comment}} </p>

			</div>
		</div>
		기타 문의 사항은 판교 :  031 - 739 - 8332 잠실 : 02-423-5015  으로 연락주세요.<br/>
	</div>
</div> 
