doctype html
html
	head
		title.
			손상원클라이밍짐
		meta(http-equiv="X-UA-Compatible", conten="IE=edge")
		link(rel="stylesheet", type="text/css", href="/common/css/angular-material.css")
		link(rel="stylesheet", type="text/css", href="/common/css/style.css")

		script(src="/common/js/angular.min.js")
		script(src="/common/js/angular-aria.min.js")
		script(src="/common/js/angular-animate.min.js")
		script(src="/common/js/angular-material.min.js")
		script(src="/common/js/angular-ui-router.min.js")
		script(src="/common/js/angular-messages.min.js")
		script(src="/common/js/angular-sanitize.js")
		script(src="/admin/js/app.js")
	
	body(ng-app="sswAdminApp")
		md-toolbar
			div(class="md-toolbar-tools" )
				span.
					관리자 로그인
		md-content(flex, layout-padding, ng-controller="loginCtrl" )
			div(flex, layout="row", layout-align="center center" )
				div(flex="30" )
					form(name="loginForm", layout-align="cneter stretch", layout="column" )
						md-input-container(flex)
							label.
								아이디
							input(type="text", ng-model="admin.id", required, name="id")
							div(ng-messages="loginForm.id.$error")
								div(ng-message="required").
									아이디를 입력하세요.
						md-input-container(flex)
							label.
								비밀번호
							input(type="password",  ng-model="admin.pw", required name="pw")
							div(ng-messages="loginForm.pw.$error")
								div(ng-message="required").
									비밀번호를 입력하세요.
						div(class="md-actions", layout="row", layout-align="center center"  )
							md-button(class="md-raised md-primary", type="submit",  ng-click="login(loginForm)").
								로그인
