doctype html
html
	head
		title.
			손상원클라이밍짐
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, user-scalable=no")
		link(rel="stylesheet", type="text/css", href="/common/css/angular-material.min.css")
		link(rel="stylesheet", type="text/css", href="/common/css/style.css")
		link(rel="stylesheet", type="text/css", href="/mobile/css/style.css")
		link(rel="stylesheet", type="text/css", href="/mobile/css/v2.css")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")

		script.
			var topNoti = !{JSON.stringify(noti)};

		script(src="//apis.daum.net/maps/maps3.js?apikey=67ecb7f35702e405009e2ada40aa7f52")

		script(src="/common/js/jquery-1.12.0.min.js")
		script(src="/common/js/angular.min.js")
		script(src="/common/js/angular-aria.min.js")
		script(src="/common/js/angular-animate.min.js")
		script(src="/common/js/angular-material.min.js")
		script(src="/common/js/angular-ui-router.min.js")
		script(src="/common/js/angular-smooth-scroll.min.js")
		script(src="/common/js/angular-messages.min.js")
		script(src="/common/js/ng-infinite-scroll.min.js")
		script(src="/common/js/angular-sanitize.js")

		script(src="/mobile/js/app.js")
		script(src="/mobile/js/init.js")
		script(src="/mobile/js/directive/direct.js")
		script(src="/mobile/js/service/imgViewer.js")
		script(src="/mobile/js/controller/noticeCtrl.js")
		script(src="/mobile/js/controller/mainCtrl.js")
		script(src="/mobile/js/controller/programCtrl.js")
		script(src="/mobile/js/controller/galleryCtrl.js")
		script(src="/mobile/js/controller/locationCtrl.js")
		script(src="/mobile/js/controller/staffCtrl.js")
		script(src="/mobile/js/controller/headerCtrl.js")


	
	body(ng-app="sswApp")
		div(ui-view="header" , autoscroll="true")
		div(class="container" layout="column" layout-align="center center" flex)
			div(ui-view="content", class="content-container" )
			div(ng-include src="'/mobile/tmpl/footer.html'", class="footer"  )

		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-72791886-1', 'auto');
			ga('send', 'pageview');
