<md-dialog >
        <md-toolbar>
                <div class="md-toolbar-tools">
                        <h2>{{ui.title}}</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="close()" >
				<i class="material-icons" >close</i>
                        </md-button>
                </div>
        </md-toolbar>
        <md-dialog-content style="width:500px; min-height:300px;" layout-padding>

		<form layout="column" layout-align="center stretch" name="lectureForm" >
			<md-input-container>
				<label>구분</label>
				<textarea name="title"  ng-model="lecture.title" required ></textarea>
				<div ng-messages="lectureForm.title.$error" >
					<div ng-message="required" > 구분을 입력하세요.  </div>
				</div>
			</md-input-container>
			<div layout="row" layout-align="center center" >
				<md-input-container flex>
					<label>요일</label>
					<textarea name="day"  ng-model="lecture.day" ></textarea>
				</md-input-container>
				<md-input-container flex>
					<label>시간</label>
					<textarea name="time"  ng-model="lecture.time" ></textarea>
				</md-input-container>
			</div>
			<div layout="row" layout-align="center center" >
				<md-input-container flex>
					<label>기간</label>
					<textarea name="period"  ng-model="lecture.period" ></textarea>
				</md-input-container>
				<md-input-container flex>
					<label>강습료</label>
					<textarea name="price"  ng-model="lecture.price" ></textarea>
				</md-input-container>
			</div>
			<div class="md-actions">
				<md-button class="md-primary md-raised" ng-click="submit(lectureForm)"  >
				저장하기
				</md-button>
				<md-button class="md-raised" ng-click="close()"  >
				취소
				</md-button>
			</div>
		</form>
        </md-dialog-content>

</md-dialog>

