<md-dialog >
        <md-toolbar>
                <div class="md-toolbar-tools">
                        <h2>{{ui.title}}</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="close()" >
				<i class="material-icons" >close</i>
                        </md-button>
                </div>
        </md-toolbar>
        <md-dialog-content style="width:500px; min-height:300px;" layout-padding>

		<form layout="column" layout-align="center stretch" name="membershipForm" >
			<md-input-container>
				<label>구분</label>
				<textarea name="title"  ng-model="membership.title" required ></textarea>
				<div ng-messages="membershipForm.title.$error" >
					<div ng-message="required" > 구분을 입력하세요.  </div>
				</div>
			</md-input-container>
			<md-input-container >
				<label>성인</label>
				<textarea name="adult"  ng-model="membership.adult" ></textarea>
			</md-input-container>
			<md-input-container >
				<label>학생</label>
				<textarea name="student"  ng-model="membership.student" ></textarea>
			</md-input-container>
			<div class="md-actions">
				<md-button class="md-primary md-raised" ng-click="submit(membershipForm)"  >
				저장하기
				</md-button>
				<md-button class="md-raised" ng-click="close()"  >
				취소
				</md-button>
			</div>
		</form>
        </md-dialog-content>

</md-dialog>

