body, html{
	overflow-x:hidden;
}
.header{
	height:56px;
	color:white;
	padding-left:10px;
	padding-right:10px;
	position:fixed;
	width:100%;
	z-index:50;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.header.sticky.gallery:after,
.header.sticky.location:after,
.header.sticky.noticeList:after,
.header.sticky.staff:after,
.header.sticky.notice:after,
.header.sticky.program:after{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	opacity:0;
}
.header.gallery:after,
.header.program:after{
	content : ' ';
	position:absolute;
	z-index:-1;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background: url("/mobile/img/diary.jpg") top left no-repeat fixed;
	background-size:190%;
	background-position-y:-20px;
}
.header.location:after,
.header.noticeList:after,
.header.staff:after,
.header.notice:after{
	content : ' ';
	position:absolute;
	z-index:-1;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background: url("/mobile/img/main_header.jpg") bottom left no-repeat;
	background-size:190%;
}
.header md-icon{
	color:white;
	
}
.header .text-logo {
	line-height:15px;
}
.header .text-logo .son{
	font-size:24px;
}
.header .text-logo .sw{
	font-size:12px;
}
.header .text-logo .cg{
	font-size:21px;
}

.header.sticky .text-logo .son{
	color:#002aff;
}
.header.sticky .text-logo .cg{
	color:black;
}
.header.sticky .text-logo .cg{
	color:black;
}
.header.sticky{
	background-color:white;
	color:black;
}
.header.sticky md-icon{
	color:black;
}
#phone-fab{
	position:fixed;
	bottom:20px;
	right:20px;
}
md-sidenav {
	position:fixed;
}
.footer{
	width:100%;
	min-height:100px;
	background-color:#56638C;
}
.footer .footer-container{
	padding-top:30px;
	padding-bottom:30px;
	height:100%;
	width:100%;
	margin:auto;
	color:#C0C7D4;
}
.footer .footer-container p{
	line-height:200%;
	font-size:14px;

}

.footer .footer-container .footer-left-adjust{
	padding-left:20px;
}
.footer .footer-container .links div{
	padding-top:10px;
	padding-bottom:10px;


}


#main-sec{
	/*
	background-color:orange;
	background: url("/mobile/img/back_m_3.jpg") -300px center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	*/
		    /*
	background-size: auto 100%;
	background-position-x:-240px;
	*/

	position:relative;
}
@media only screen 
and (min-device-width : 500px) 
and (max-device-width : 1024px) {
	#main-sec{
		background: url("/mobile/img/back_m_3.jpg") center center no-repeat;
	}
	/* Styles */
}
@media only screen 
and (max-device-width : 400px) {
	#main-sec{
		background: url("/mobile/img/back_m_3.jpg") -250px center no-repeat;
	}
	/* Styles */
}
#main-sec p{
	z-index:5;
}
#main-sec .dim{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0, 0, 0, 0.2);
}
#main-sec .scr-down{
	position:absolute;
	bottom:20px;
	width:100%;
}
#main-sec .scr-down-outer{
	padding-top:20px;
	padding-bottom:20px;
}
.section{
	padding-top:80px; 
	padding-bottom:80px;
}

.section p{
	text-align:center;
}
.section p.l{
	text-align:left !important;
}
.section p.w{
	color:white;
}
.section .at{
	margin-top:50px;
}
.section .at .deco{
	margin:auto;
	width:50px;
	height:1px;
	border-bottom:2px solid #44C2AB;
}
.section .at .md-subhead{
	color:#848484;
}

#intro-sec{
	background-color:#f5f5f5;
}
#intro-sec .tile-gal{
	max-width:none !important;
	width:2380px;
}
.tile-gal-wrap{
	width:100%;
	margin-top:80px;
	overflow-x:scroll;
	position:relative;
	-webkit-overflow-scrolling: touch;
}
#intro-sec .tile{
	margin-right:20px;
}

#intro-sec .goto-program:hover{
	text-decoration:underline;
}
#intro-sec .goto-program{
	color:#44C2AB;
	font-size:20px;
}

#prog-sec{
	padding-top:60px;
}
#prog-sec .tab 	{
	margin-bottom:20px;
}
#prog-sec .tab a{
	width:100%;
	height:40px;
	line-height:200%;
	text-align:center;
}
#prog-sec .tab a.active{
	border-bottom:2px solid #44C2AB;
}
#gallery-sec{
	padding-left:5px;
	padding-right:5px;
}
.p-table .line{
	border-bottom:1px solid #C0C7D4;
	text-align:center;
	font-size:11px;
	min-height:50px;
	padding-top:10px;
	padding-bottom:10px;
}
.p-table .line.np{
	background-color: #F2F7FA;
}
.p-table .line .class-name,
.p-table .line.title{
	font-weight:700;
}
.p-table .prg-title{
	font-size:1
}
#img-viewer .img-area img{
	width:auto;
}
#img-viewer .img-area .desc{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0, 0, 0, 0.4);
	color:white;
	height:50px;
}
#img-viewer .img-area .desc .desc-area{
	padding-left:20px;
}
#img-viewer .img-area .desc .date-area{
	padding-right:20px;
}
#img-viewer{
	position:fixed;
	z-index:100;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0, 0, 0, 1);


}
#img-viewer .close-btn{
	position:absolute;
	right:20px;
	top:20px;
}
#img-viewer .navi{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
#img-viewer .navi .prev,
#img-viewer .navi .next{
	width:30%;
	height:100%;
	color:white;
	cursor:pointer;
}
#img-viewer .navi .prev{
	float:left;
}
#img-viewer .navi .next{
	float:right;
}
#img-viewer .navi .prev:focus,
#img-viewer .navi .next:focus{
	outline:none;
	border:none;
}
#img-viewer .img-area {
	max-height:800px;
	height:800px;
}
#img-viewer .img-area img{
	width:auto;
}
.gal md-grid-tile{
	background-color:black;
	overflow:hidden;
}
.gal md-grid-tile figure{
	display:block;
	overflow:hidden;
}
.gal md-grid-tile img{
	display:block;
	position:absolute;
	top:-100%;
	bottom:-100%;
	left:-100%;
	right:-100%;
	margin:auto;
	cursor:pointer;
	
}



.gal md-grid-tile .img-wrapper{
	width:100%;
	height:100%;
	cursor:pointer;
}
#location-sec{
	padding-top:56px;
}
#location-sec .map{
	width:100%;
	height:450px;
}
#location-sec .desc-area{
	margin-top:50px;
	text-align:center;
}
#location-sec .desc-area p{
	font-size:13px;
}
#location-sec .or {
	width:100%;
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
}
#location-sec .or .dash{
	width:100%;
	height:1px;
	background-color:#B0BECE;
	margin-left:10px;
	margin-right:10px;
}
#son-sec{
	padding-top:0px;
}
#son-sec .son-text{

}
#son-sec .photo{
	margin:auto;
	margin-top:-40px;
}
#son-sec .headline{
	font-size:20px;
	display:block;
	margin-bottom:15px;
}
#son-sec #profile-photo{
	border-radius:50%;
}
.profile-intro-content{
	color:#848484;
}
#mini-gal-sec{
	background-color:#f5f5f5;
}
#mini-gal-sec .more-area{
	padding-top:20px;
	cursor:pointer;
	padding-bottom:20px;

}

#faq-sec {
	padding-top:0px;
}
#faq-sec p a{
	color:#44C2AB;
	text-decoration:underline;
}
#faq-sec .at{
	margin-top:0px;
	margin-bottom:50px;
}
#faq-sec .sepe{
	width:100%;
	height:140px;
	position:relative;
	margin-bottom:80px;

}
#notice-list-sec md-list-item a{
	padding:0;
}
#noti-read-sec .date,
#notice-list-sec .noti-container .date{
	color:#848484;
	font-size:11px;
}
#notice-list-sec .noti-navi a{
	padding:10px 10px 10px 10px;
}
#notice-list-sec .noti-navi a:hover{
	text-decoration:underline;
}
#notice-list-sec .noti-container .title-txt{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
#notice-list-sec .noti-container i.material-icons{
	color:#45C3AB;
}
#notice-list-sec,
#noti-read-sec{
	padding-left:5px;
	padding-right:5px;
}
#noti-read-sec .noti-read-area{
	padding-top:50px;
}
#noti-read-sec md-divider{
	margin-top:20px;
	margin-bottom:20px;
}
#noti-read-sec .content-area{
	min-height:300px;
}
#noti-read-sec .content-area p{
	text-align:inherit;

}
#noti-read-sec .content-area p a{
	color:#44C2AB !important;
	text-decoration:underline;
}

#main-noti-sec{
	background-color:#f5f5f5;
	border-bottom:1px solid #d9d9d9;
}

#main-noti-sec .main-noti{
	padding-left:10px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
#main-noti-sec .main-noti-date{
	font-size:11px;
	color:#848484;
}
#staff-sec .txt-name{
	color:white;
}
#staff-sec .txt-meta{
	color:#C1C8D5;
}
#staff-sec .profile-header{
	background-color:#56638D;
}
