
.tile-gal-wrap .v2.pan{
	background-color:#44C2AB;
	color:white;
}
.tile-gal-wrap .v2.branch{
	height:187px;
	margin-left:20px;
}
#faq-sec .sepe{
	background-image:url(/mobile/img/mo_main1.jpg);
	background-size:100% auto;
	background-repeat:no-repeat;
	background-position-y:-100px;
}

.tile-gal-wrap.v2 {
	background-image:url(/mobile/img/mo_main2.jpg);
	background-size:100% auto;
	background-repeat:no-repeat;
	background-position-y:-140px;
	height:300px;
}
#main-sec.v2{
	background-size:100% auto;
	background-repeat:no-repeat;
	background-position:inherit;
}
#main-sec.v2 p{
	text-shadow: 0 -1px 1px rgba(0,0,0,0.8);
}
#prog-sec .tel {
	text-decoration:underline;
	color:#44C2AB;
}
