@font-face {
	font-family: 'Nanum Barun Gothic';
	font-style: normal;
	font-weight: 200;
	src: local('Nanum Barun Gothic UltraLight'), local('Nanum Barun Gothic-UltraLight'), local('NanumBarunGothic UltraLight');
	src: url(/common/font/NanumBarunGothicUltraLight.eot);
	src: url(/common/font/NanumBarunGothicUltraLight.eot?#iefix) format('embedded-opentype'),
	     url(/common/font/NanumBarunGothicUltraLight.woff) format('woff'),
	     url(/common/font/NanumBarunGothicUltraLight.ttf) format('truetype');
}

@font-face {
	font-family: 'Nanum Barun Gothic';
	font-style: normal;
	font-weight: 300;
	src: local('Nanum Barun Gothic Light'), local('Nanum Barun Gothic-Light'), local('NanumBarunGothic Light');
	src: url(/common/font/NanumBarunGothicLight.eot);
	src: url(/common/font/NanumBarunGothicLight.eot?#iefix) format('embedded-opentype'),
	     url(/common/font/NanumBarunGothicLight.woff) format('woff'),
	     url(/common/font/NanumBarunGothicLight.ttf) format('truetype');
}

@font-face {
	font-family: 'Nanum Barun Gothic';
	font-style: normal;
	font-weight: 400;
	src: local('Nanum Barun Gothic Regular'), local('Nanum Barun Gothic-Regular'), local('NanumBarunGothic Regular');
	src: url(/common/font/NanumBarunGothic.eot);
	src: url(/common/font/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
	     url(/common/font/NanumBarunGothic.woff) format('woff'),
	     url(/common/font/NanumBarunGothic.ttf) format('truetype');
}

@font-face {
	font-family: 'Nanum Barun Gothic';
	font-style: normal;
	font-weight: 700;
	src: local('Nanum Barun Gothic Bold'), local('Nanum Barun Gothic-Bold'), local('NanumBarunGothic Bold');
	src: url(/common/font/NanumBarunGothicBold.eot);
	src: url(/common/font/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
	     url(/common/font/NanumBarunGothicBold.woff) format('woff'),
	     url(/common/font/NanumBarunGothicBold.ttf) format('truetype');
}


body{
	height:auto;
	font-family: 'Nanum Barun Gothic', sans-serif;

}
svg {
	font-family: 'Nanum Barun Gothic', sans-serif;
}
ul{
	padding:0;
	margin:0;
}
ul > li{
	list-style:none;
}
img{
	border:none;
	vertical-align:middle;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
a{
	border:none;
	color:inherit;
	text-decoration:none;
	cursor:pointer;
}
a:visited, a:hover, a:active{
	color:inherit;
	text-decoration:none;
	background:none;
}
p{
	line-height:150%;
}
.content-container{
	width:100%;
}
