<md-dialog >
        <md-toolbar>
                <div class="md-toolbar-tools">
                        <h2>코멘트 수정</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="close()" >
				<i class="material-icons" >close</i>
                        </md-button>
                </div>
        </md-toolbar>
        <md-dialog-content style="width:700px; min-height:300px;" layout-padding>

		<form layout="column" layout-align="center stretch" name="commentForm" >
			<md-input-container >
				<label>코멘트</label>
				<textarea name="comment"  ng-model="comment.comment" rows="5" ></textarea>
			</md-input-container>
			<div class="md-actions">
				<md-button class="md-primary md-raised" ng-click="submit(commentForm)"  >
					저장하기
				</md-button>
				<md-button class="md-raised" ng-click="close()"  >
				취소
				</md-button>
			</div>
		</form>
        </md-dialog-content>

</md-dialog>

