<div full-section="100px" ></div>
<div full-section="900px" class="gallery-sec" >
	<md-button class="md-fab" ng-click="uploadImg($event)" ng-if="user" >
		<md-icon md-svg-src="/ssw/img/ic_add.svg" ></md-icon>
	</md-button>



	<md-grid-list
		md-cols="6"
		md-cols-sm="3"
		md-row-height="1:1"
		md-gutter="8px" class="gal" 
		infinite-scroll="moreImage()" infinite-scroll-distance="0" infinite-scroll-disabled="galleryBusy" 
		>

		<md-grid-tile md-rowspan="1" md-rowspan="1" md-colspan="1" ng-repeat="gal in galleryList" >
			<div ng-if="user" class="gal-menu" >
				<div  layout="row" layout-align="center center">
					<div flex></div>
					<md-button class="md-icon-button"  ng-click="del($index, $event)" aria-label="delete"  >
						<md-icon md-svg-src="/ssw/img/ic_delete.svg" ></md-icon>
					</md-button>
				</div>
			</div>
			<div ng-click="showImage($index)" class="img-wrapper"  >
			<img ng-src="{{gal.path + (gal.h > 300 ? '?dim=x300' : '') }}" ng-class="{full:gal.h > 300}" />
			</div>
		</md-grid-tile>
	</md-grid-list>
	<div flex layout-align="center center" layout="row" ng-show="galleryBusy"  >
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>


</div> 
