<div full-section="100px" ></div>
<div full-section="300px" class="map-sec" >
	<div id="map" ></div>
</div> 
<div class="section location-sec" >
	<div flex layout="column" layout-align="center center" >
		<div class="md-subhead"  layout="column" layout-align="center center" >
			<div class="loc-icon">
				<img src="/ssw/img/ic_location.svg" width="42px" height="42px" />
			</div>
			<div>
			경기도 성남시 분당구 삼평동 682번지 유스페이스2 지하1층 120호
			</div>
			<div class="md-caption or" layout="row" layout-align="center center" >
				<div flex="45" class="dash" ></div>
				<div flex >OR</div>
				<div flex="45" class="dash" ></div>
			</div>
			<div>
			경기동 성남시 분당구 대왕판교로 670(삼평동) 유스페이스2 지하 1층 120호
			</div>
		</div>

	</div>
</div>
