<div full-section="200px"  id="main-video-sec" >
<!--
<svg viewBox="0 0 700 600" class="chart" style="width:700px;height:600px;" >
	<polyline fill="none" stroke="#0074d9" stroke-width="2"  
	points="
	0, 600 
	100, 100" />
</svg>
-->

	<div class="video-container" >
		<video autoplay loop  >
			<source src="/ssw/img/son_movie.mp4" type="video/mp4" >
		</video>
	</div>
	<div class="video-wrapper" >
	</div>
	<p class="md-headline" style="text-align:right;" >
		새로운 스포츠에 대한 도전은<br/>
		언제나 즐겁습니다.<br/><br/>
		클라이밍</br>
		도전해보세요.

	</p>
	<div class="scr-down" layout="row" layout-align="center center"  >
			<a scroll-to="gym-intro"  href="javascript:void(0);" class="scr-down-outer" >
				<div class="scr-down-inner bounce animated" >
					<img src="/ssw/img/ic_arrow_down.svg"  width="48px" height="48px" class="gal" />
				</div>
			</a>
	</div>
</div> 
<div full-section class="tile-sec" id="gym-intro" >
	<div class="md-display-1 ts-t1" flex layout="row" layout-align="center center"  >
		<span>
		최고의 시설과 환경에서 클라이밍에 도전하세요
		</span>
	</div>
	<div class="section tile-container"  layout="row" layout-wrap>
		<a ng-repeat="imgsrc in tileImgs" ng-click="showBigSize($index);" >
			<img ng-src="{{imgsrc.path+'?dim=280'}}" class="animated"  />
			<div></div>
		</a>

	</div>
	<div class="ts-t1" flex layout="row" layout-align="center center"  >
		<div class="at-center" >
			<div class="md-headline" >손상원 클라이밍짐은 </div>
			<p class="md-subhead" >
				스포츠클라이밍에 관심 있어 하는 사람들이 늘어나고 있습니다.<br/>
				그 수요만큼의 공급이 준비되고 있지 않음이 너무나 아쉬워</br/>
				누구라도 도전할 수 있는 공간을 마련했습니다.

			</p>
			<div class="deco" ></div>
		</div>
	</div>
	<div>
		<img src="/photo/tile/pano.jpg" width="100%" />
	</div>


	

</div>
<div full-section="800px"  class="about-sec" >
	<div class="at-center" >
		<span class="md-headline" >클라이밍은</span>
		<p class="md-subhead" >
			근력운동과 유산소 운동을 동시에 하며, 유연성과 균형감각을 기르고, 몸매관리에 도움이 됩니다.<br/>
			평소 잘 사용하지 않는 근육을 많이 사용하기 때문에 몸매관리나 잔근육을 키울수 있습니다.<br/>
			뿐만 아니라 성취감과 자신감을 또한 얻게됩니다.

		</p>
		<div class="deco" ></div>
	</div>
	<div layout="column" layout-align="center center" class="emo" >
		<img src="/ssw/img/emo.svg" />
	</div>
	<div class="at-center gp-container" layout="column" layout-align="center center" >
		<span class="md-headline" >지금 시작하세요.</span>
		<br/>
		<br/>
		<a ui-sref="program" class="goto-program"  >강습 시간표보기<img src="/ssw/img/ic_arrow_forward.svg" /> </a>
	</div>
</div>

<div full-section="700px" class="profile-sec" >
	<div layout="row" layout-align="center stretch" class="profile-area" >
		<div class="profile" flex="33" layout="row" >

		</div>
		<div class="history mid" flex="33" layout="row" layout-align="center stretch" >
			<div layout="column"  class="profile-cover"  flex >
				<div class="photo" flex layout="column" layout-align="center center"  >
					<img id="profile-photo" src="/ssw/img/profile.jpg" width="120px" height="120px"  />
					<h2>대표 손상원</h2>

				</div>
				<div class="profile-intro" flex  >
					<p>
					<span class="headline" > 클라이밍은 힘으로 하는 운동이 아닙니다.</span>
					<span class="profile-intro-content" >
					머리로 계속 생각하고, 발로 균형을 잡으며 하는 <br/>
					창조적인 운동입니다.<br/>
					단순히 체력으로 하는 부분이 아니라,<br/>
					머리를 써서 최소한의 손동작과 체중의 중심을 이동시키면서<br/>
					더 많이, 더 높이 올라가며 스릴을 느끼는 것..<br/>
					<br/>
					그것이 클라이밍의 매력입니다.
					</span>
					</p>

				</div>
			</div>
		</div>
		<div class="history" flex="33" layout="row" layout-align="center center" >
			<div>
				<img src="/ssw/img/history.svg" height="600px" width="380px"   />
			</div>
		</div>
	</div>
<!--
	<div layout="row" layout-align="center stretch" >
		<div class="profile" flex>
			<img src="/ssw/img/son.jpg" width="500px" height="500px" />
		</div>
		<div class="history" flex >
		</div>
	</div>
	-->
</div>
<div full-section="650px"  class="info-sec" >
	<div class="faq-container"  >
		<div flex layout="row" layout-align="center center" class="faq-title-area" >
			<img src="/ssw/img/ic_faq.svg" width="120px" height="120px" />
		</div>
		<div layout="row" layout-wrap flex>
			<div flex="33" class="info-item" >
				<div class="at-center" >
					<div class="md-headline" >센터 운영시간은 어떻게 되나요?</div>
					<p class="md-subhead" >
						월, 화, 수, 목요일은 10:00 부터 23:00 까지, <br/>
						금요일은 10:00 부터 22:00 까지,<br/>
						주말 및 공휴일은 10:00 부터 18:00 까지 운영합니다.
					</p>
					<div class="deco" ></div>
				</div>
			</div>
			<div flex="33" class="info-item" >
				<div class="at-center" >
					<div class="md-headline" >강습 시간과 비용은 어떻게 되나요? </div>
					<p class="md-subhead" >
						강습은 금요일을 제외한  오전,점심,저녁반 골고루 운영합니다.<br/>
						기간별 이용권/강습권을 구매 가능하며<br/> 일일권 또한 사용 가능합니다.<br/>
						자세한 사항은 <a ui-sref="program" >여기</a>를 참고하세요.

					</p>
					<div class="deco" ></div>
				</div>
			</div>
			<div flex="33" class="info-item" >
				<div class="at-center" >
					<div class="md-headline" >주차가 가능한가요? </div>
					<p class="md-subhead" >
						주차는 평일 무료 3시간 까지 가능합니다.<br/>
						주말에는 시간 제한 없이 주차가 가능합니다.<br/>
						주차는 본 건물 지하주차장을 이용하시면됩니다.


					</p>
					<div class="deco" ></div>
				</div>
			</div>
		</div>
	</div>

</div>
<!--
<style>
.gridListdemoBasicUsage md-grid-list {
  margin: 8px; }
.gridListdemoBasicUsage .gray {
  background: #f5f5f5; }
.gridListdemoBasicUsage .green {
  background: #b9f6ca; }
.gridListdemoBasicUsage .yellow {
  background: #ffff8d; }
.gridListdemoBasicUsage .blue {
  background: #84ffff; }
.gridListdemoBasicUsage .purple {
  background: #b388ff; }
.gridListdemoBasicUsage .red {
  background: #ff8a80; }
.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms; }
</style>
-->
<div full-section="500px"  class="mini-gal-sec" >
	<md-grid-list
		md-cols="7"
		md-row-height="1:1" 
		md-gutter="8px" class="gal" >

		<md-grid-tile md-rowspan="{{tile.span.row}}" md-colspan="{{tile.span.col}}" ng-repeat="tile in galleryTile" ng-click="showGallery($index)" >
				<img ng-src="{{tile.path + (tile.span.row==2 ? '?dim=x600' : '?dim=x300')}}" ng-class="tile.full" />
			<!--
			<md-grid-tile-footer>
				<h3>#{{$index+1}}: ({{tile.span.row}}r x {{tile.span.col}}c)</h3>
			</md-grid-tile-footer>
			-->
		</md-grid-tile>
		<md-grid-tile md-rowspan="1" md-colspan="1" ui-sref="gallery" class="goto-gallery" >
			<div layout-align="center center" layout="row" >
				<span class="md-title" >사진 더보기+<span>
			</div>

		</md-grid-tile>

	</md-grid-list>

</div>

