<div full-section="150px" ></div>
<div class="section" id="noti-write-sec" >
<!--<div>
	<input id="title" name="title"maxlength="60">
</div>
<div>
	<textarea name="ir1" id="ir1" rows="10" cols="100" style="width:766px; height:412px;display:none;">
		{{contents}}
	</textarea>
</div>-->

<div flex>
	<div class="md-headline" >공지사항 작성</div>
</div>

<div flex layout="row" layout-align="center center" >
	<div flex="80" layout-align="center center"  >
		<div flex layout="column" layout-align="center stretch" >
			<md-input-container flex class="title-area">
				<label>제목</label>
				<!--
				<input id="title" ng-model="newNotice.title">
				-->
				<input id="title" ng-model="notice.TITLE">

			</md-input-container>
			<textarea name="ir1" id="ir1" rows="10" cols="100" style="width:100%; height:412px;display:none;">
				{{notice.CONTENTS}}
			</textarea>

			<div layout-align="center center" layout="row" class="btn-area" >
				<md-button ng-click="saveNotice()" class="md-primary md-raised" >저장하기</md-button>
				<md-button ui-sref="noticeList" class="md-raised" >취소</md-button>
			</div>
		</div>
		

	</div>
</div>

<script type="text/javascript">
var oEditors = [];
nhn.husky.EZCreator.createInIFrame({
 oAppRef: oEditors,
 elPlaceHolder: "ir1",
 sSkinURI: "../../se2/SmartEditor2Skin.html",
 fCreator: "createSEditor2"
});
</script>


</div> 
