<div full-section="100px" ></div>

<div class="section" id="noti-read-sec" >

<div ng-repeat="notice in currentNotice" layout="column" layout-align="center stretch" class="noti-read-area" >
	<div flex  layout="row" layout-align="cetner center" >
		<div class="md-headline" flex="80" layout="row" layout-align="start center" ><span>{{notice.TITLE}}</span></div>
		<div flex layout="row" layout-align="center center" ><span class="date" >{{notice.REGISTER_DATE}}</span></div>
	</div>
	<md-divider></md-divider>
	<div flex ng-bind-html="notice.CONTENTS" class="content-area" >
	</div>
	<md-divider></md-divider>
	<div class="btn-area" layout="row"  >
		<div flex layout="row" layout-align="start center" >
			<md-button ui-sref="noticeList" class="md-raised" >목록</md-button>
		</div flex>
		<div flex layout="row" layout-align="end center" ng-show="user" >
			<md-button ng-click="modifyNotice()"class="md-raised" >수정</md-button>
			<md-button ng-click="deleteNotice()" class="md-raised" >삭제</md-button>
		</div>
	</div>
	


</div>

</div> 
