<div full-section="150px" ></div>
<div class="section" id="staff-write-sec" >
	<div flex>
		<div class="md-headline" >강사 관리</div>
	</div>
	<div flex layout="row" layout-align="end center" >
		<md-button class="md-primary md-raised" ng-click="addStaff($event)" >추가하기</md-button>
	</div>

	<div flex >
		<md-card ng-repeat="staff in staffList" flex layout="row" class="md-whiteframe-5dp" style="min-height:250px;margin-bottom:40px;" >
			<md-card-title flex="20" layout="column" class="profile-left" >
				<md-card-title-media layout="column" layout-align="center center" >
					<div class="md-media-md" style="width:120px;height:120px;">
						<img ng-src="{{staff.photo_path}}" width="100%" height="100%"  style="border-radius:50%;background-color:#d9d9d9;" />
					</div>
					<md-card-title-text layout="column" layout-align="center center" style="margin-top:20px;" >
						<span class="md-headline txt-name" >{{staff.name}}</span>
						<span class="md-subhead txt-meta" >{{staff.position}}</span>
						<span class="md-subhead txt-meta" >{{staff.birth }}</span>
					</md-card-title-text>
				</md-card-title-media>
			</md-card-title>
			<div flex >
				<md-card-content flex >
					<p style="white-space:pre-wrap;" > {{staff.profile}} </p>
				</md-card-content>
				<md-card-actions layout="row" layout-align="end center">
					<md-button class="md-primary" ng-click="modStaff(staff, $index, $event)" >수정</md-button>
					<md-button class="md-accent" ng-click="delStaff(staff.num,$index, $event)" >삭제</md-button>
				</md-card-actions>
			</div>
		</md-card>
	<div>



</div> 
